.createBox {
  width: 200px;
  height: 150px;

  background: rgba(255, 255, 255, 0.5);

  border: 1px solid #d6d8e7;

  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
